.clock {
    padding: 20px;
}
.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
}
.title-italic {
    font-style: italic;
}
h1 {
    font-size: 68px;
    padding: 15px 0px;
}
h5 {
    padding-top: 15px;
}
h3 {
    padding-top: 10px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
    font-size: 12px;
}